@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .transition-all {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
}